{% extends 'base.html' %}

{% block meta_tags %}
{{ block.super }}
{{ object.get_meta_tags }}
{% endblock %}

{% block content %}
{% if is_translated %}
    <h2>
        "{{ object.translated_title }}"
    </h2>
    <p>{{ object.translated_content }}</p>
    {% if object.categories %}
        <p>Categories: {{ object.categories.all }}</p>
    {% endif %}
{% else %}
    <h2>
        "{{ object.title }}"
    </h2>
    <p>{{ object.content }}</p>
    {% if languages %}
        <p>{{ languages }}</p>
    {% endif %}
    {% if object.category %}
        <p>Category: {{ object.category.title }}</p>
        <p>Ideas without this category: {{ object.category.get_ideas_without_this_category }}</p>
    {% endif %}
{% endif %}
{% if object.author %}
    <p>Author: {{ object.author.username }}</p>
{% endif %}
{% if object.picture %}
    <h3>Original picture</h3>
    <img src="{{ idea.picture.url }}" alt="" style="margin-bottom:50px"/>
    <h3>Picture_large is used for the detail view</h3>
    <img src="{{ idea.picture_large.url }}" alt="" style="margin-bottom:50px"/>
    <h3>Picture_thumbnail is used for the detail view</h3>
    <img src="{{ idea.picture_thumbnail.url }}" alt="" style="margin-bottom:50px"/>
    <h3>Picture_social is used for the detail view</h3>
    <img src="{{ idea.picture_social.url }}" alt="" style="margin-bottom:50px"/>
{% endif %}
{% endblock %}